.giotto-measures{

  &__list{
    list-style: none;

    li{
      margin-bottom: 10px;
    }
  }

  &__color{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-right: 10px;
  }

  &__delete {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('../../assets/trash.svg');
    vertical-align: middle;
    cursor: pointer;
  }
}
